<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel='stylesheet'/>
    <!-- Custom CSS -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel='stylesheet'/>
    <!-- Graph CSS -->
    <link href="{{url_for('static',filename='css/font-awesome.css')}}" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/icon-font.min.css')}}" type='text/css'/>
    <!-- //lined-icons -->
    <script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
    <!--clock init-->
</head>
<body>
<!--/login-->

<div class="error_page">
    <!--/login-top-->

    <div class="error-top">
        <h2 class="inner-tittle page">代码统计系统</h2>
        <div class="login">
            <h3 class="inner-tittle t-inner">登录</h3>
            <div class="buttons login">
                <ul>
                    <li><a href="#" class="hvr-sweep-to-right">用户登录</a></li>
                    <li class="lost"><a href="#" class="hvr-sweep-to-left">管理员登录</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <form action="" method="post">
                <!--<input type="text" class="text" value="E-mail address" onfocus="this.value = '';"-->
                <!--onblur="if (this.value == '') {this.value = 'E-mail address';}">-->
                <!--&lt;!&ndash;onfocus事件:获取焦点时发生，onblur:鼠标焦点离开发生&ndash;&gt;-->
                <!--<input type="password" value="Password" onfocus="this.value = '';"-->
                <!--onblur="if (this.value == '') {this.value = 'Password';}">-->
                <input type="text" class="text" value="" name="user">
                <input type="password" class="text" value="" name="pwd">
                <span style="color:red;">{{error}}</span>
                <div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
                <div class="clearfix"></div>

                <div class="new">
                    <p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>记住密码
                        ?</label></p>
                    <p class="sign">是否还未注册? <a href="sign.html">Sign Up</a></p>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
    <!--//login-top-->
</div>

<!--//login-->
<!--footer section start-->
<div class="footer">
    <!--<div class="error-btn">-->
    <!--&lt;!&ndash;<a class="read fourth" href="index.html">返回主页</a>&ndash;&gt;-->
    <!--</div>-->
    <!--返回主页使用-->
</div>
<!--footer section end-->
<!--/404-->
<!--js -->
<script src="{{url_for('static',filename='js/jquery.nicescroll.js')}}"></script>
<script src="{{url_for('static',filename='js/scripts.js')}}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
</body>
</html>